<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leonardo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script type="module" src="~/js/draw.js"></script>

<style>
    body {
      margin: 0;
      box-sizing: border-box;
    }

    /* CSS for header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("/images/FooterImage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .header .logo {
      font-size: 25px;
      font-family: 'Sriracha', cursive;
      color: #000;
      text-decoration: none;
      margin-left: 30px;
    }

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 20px;
    }

    .nav-items a {
      text-decoration: none;
      color: #000;
      padding: 35px 20px;
    }

    /* CSS for main element */
    .gamedata {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .gamedata .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .gamedata .data i {
      width: fit-content;
      font-size: 40px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 14px;
    }

    .gamedata .data .data-name {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .game {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 40px 80px;
      border-top: 2px solid #eeeeee;
    }


    /* CSS for footer */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/images/FooterImage.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 40px 80px;
    }

    div.guesser, div.painter {
    display: none;
   }
  </style>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Leonardo</a>
    <nav class="nav-items">
      <a href="@Url.Action("RemovePlayer", "Game")" >Leave Game</a>
    </nav>
  </header>
  <main>
    <div class="gamedata">
      <div class="data">
        <div class="guesser">
            <p class="data-name">Guess</p>
            <input type="text" id="guessText"/>
            <input type="button" value="Send Guess" id="guessButton" />
        </div>
        <div class="painter">
            <p class="data-name">Give up</p>
            <input type="text" id="wordToGuess" disabled="disabled"/>
            <input type="button" value="Skip" id="skipButton" />
        </div>
      </div>
      <div class="data">
        <p class="data-name">Room Id</p>
        <input type="text" id="joinGroup" value="@ViewBag.RoomId" disabled />
      </div>
      <div class="data">
        <p class="data-name" id="start-game-label">Start Game</p>
        <input type="button" value="Start Game" id="startGameButton" />
      </div>
      <div class="data">
        <p class="data-name">Your points</p>
        <input type="text" id="pointsId" disabled />
      </div>
      <div class="data">
        <p class="data-name">Remaining Rounds</p>
        <input type="text" id="numberOfrounds" disabled />
      </div>
    </div>
    <div class="game">
        <div class="card">
          <div class="card-header justify-content-between">
            <h5 class="mb-0">Chat messages</h5>
          </div>
          <div class="card-body" id="card-body"style="overflow-y: auto;width: 340px; height: 280px;"></div>
          <div class="card-footer text-muted justify-content-start align-items-center p-3">
             <div class="input-group mb-0">
              <input type="text" id="messageInput" class="form-control" placeholder="Type message" />
              <button class="btn" id="sendButton" type="button" style="padding-top: .55rem; background-color:#8e44ad;">Send</button>
            </div>
         </div>
        </div>
      <div class='your-canvas-wrapper'>
        <canvas id="can" width="440" height="400" style="border: 1px solid black;"></canvas>
      </div>
      <div class="card">
          <div class="card-header justify-content-between">
            <h5 class="mb-0">Players</h5>
          </div>
          <textarea id="PlayersList" style = "width: 150px; height: 350px;"></textarea>
          <!--<div class="card-body" id="players-card-body"style="overflow-y: auto;width: 150px; height: 280px;"></div>-->
     </div>
    </div>
    <div class="painter">
        <div class="gamedata">
          <div class="data">
            <i class='fas fa-palette'></i>
            <p class="data-name">Change Color</p>
            <input id="colorpicker" type="color"/>
          </div>
          <div class="data">
            <i class='fa fa-eraser'></i>
            <p class="data-name">Fix your mistakes</p>
            <button type="button" id="white">Eraser</button>
          </div>
          <div class="data">
            <i class="fa-solid fa-paint-roller"></i>
            <p class="data-name">Brush size</p>
            <input type="range" id="brushSize" min="0" max="20" value="2">
          </div>
          <div class="data">
            <i class='fa-solid fa-trash-can'></i>
            <p class="data-name">Clear canvas</p>
            <button type="button" id="clearButton">Clear</button>
          </div>
        </div>
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2022 Developer</div>
  </footer>
</body>

</html>

<!--

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script type="module" src="~/js/draw.js"></script>

<style>
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer1; }
.item6 { grid-area: chat; }
.item7 { grid-area: footer2; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main right'
    'chat chat main main main right'
    'footer1 footer1 footer1 footer2 footer2 footer2';
  gap: 5px;
  background-color: #8e44ad;
  padding: 5px;
}

.grid-container > div {
  background-color:#fcdaf7 ;
  padding: 10px 0;
  font-size: 17px;
}
div.guesser, div.painter {
    display: none;
}
</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">Header</div>
  

  <div class="item2"> 
	<div class="guesser">
        <input type="button" value="Send Guess" id="guessButton" />
        <input type="text" id="guessText"/>
    </div>
    <div class="painter">
        <input type="button" value="Skip" id="skipButton" />
        <input type="text" id="wordToGuess" disabled="disabled"/>
    </div>
  </div>

  <div class="item3">
     <canvas id="can" width="440" height="400"></canvas>
  </div>

  <div class="item4">
    <input type="range" id="brushSize" name="Brush size:" min="0" max="20" value="2">
    <hr />
  	<input id="colorpicker" type="color"/>
    <hr />
    <button type="button" id="clearButton" class="btn btn-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
    </svg>
    </button>
    <hr />
    <button type="button" id="white" class="btn btn-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
    </svg>
    </button>
  </div>

  <div class="item5">
  	<input type="text" id="numberOfrounds" disabled />
    <input type="text" id="joinGroup" value="@ViewBag.RoomId" disabled />
    <input type="button" value="Start Game" id="startGameButton" />
    <input type="text" id="pointsId" disabled />
  </div>
  
  <div class="item6">
  	<div class="card">
      <div class="card-header justify-content-between">
        <h5 class="mb-0">Chat messages</h5>
      </div>
      <div class="card-body" id="card-body"style="overflow-y: auto;width: 340px; height: 240px;">
      </div>
      <div class="card-footer text-muted justify-content-start align-items-center p-3">
        <div class="input-group mb-0">
          <input type="text" id="messageInput" class="form-control" placeholder="Type message" />
          <button class="btn" id="sendButton" type="button" style="padding-top: .55rem;background-color:#8e44ad;">Send</button>
        </div>
      </div>
    </div>
  </div>

  <div class="item7">
      <textarea id="PlayersList"></textarea>
  </div>

</div>

</body>
</html>
-->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script type="module" src="~/js/draw.js"></script>
</head> 

<style>
.col-lg-12 {
  height: 200px;
  width: 50%;
  border-radius:20px;
}

.card {
  height: 100%;
  width: 100%;
  border-radius:20px;
}

.col-lg-2 {
  height: 400px;
  width: 100%;
  border-radius:20px;
  border:2px solid;
}
.col-lg-6 {
  height: 200px;
  width: 100%;
  border-radius:20px;
  border:2px solid;
}

div.guesser, div.painter {
    display: none;
}

canvas { 
    position: absolute;
    z-index: 100;
    border:2px solid;
    border-radius:20px;
    position:absolute;
    top:10%;
    left:60%;
}
</style>
<body>
    <canvas id="can" width="400" height="400"></canvas>
<div class="container fluid">
    <div class="row">
		<div class="col-lg-5">
			<div class="row">
				<div class="col-lg-12">
                  	<div class="col-lg-6">
                    	<textarea id="PlayersList"></textarea>
                      	<input type="button" value="Start Game" id="startGameButton" />
                        <input type="text" id="numberOfrounds" disabled />
        				<input type="text" id="joinGroup" value="@ViewBag.RoomId" disabled />
                  	</div>
                  	<div class="col-lg-6">
						<div class="guesser">
                          	<input type="button" value="Send Guess" id="guessButton" />
                          	<input type="text" id="guessText"/>
                      	</div>
                      	<div class="painter">
                          	<input type="button" value="Skip" id="skipButton" />
                          	<input type="text" id="wordToGuess" disabled="disabled"/>
                      	</div>
           			</div>
           		</div>
                <div class="col-lg-12">
             		<div class="card">
            			<div class="card-header justify-content-between" style="border-top: 4px solid #ffa900;border-radius:20px;">
                			<h5 class="mb-0">Chat messages</h5>
            			</div>
            			<div class="card-body" id="card-body"style="overflow-y: auto; height: 200px;border-radius:20px;">
                        </div>
                      	<div class="card-footer text-muted justify-content-start align-items-center p-3">
                        	<div class="input-group mb-0">
                          		<input type="text" id="messageInput" class="form-control" placeholder="Type message" />
                          		<button class="btn btn-warning" id="sendButton" type="button" style="padding-top: .55rem;">Send</button>
                        	</div>
                      	</div>
                  	</div>
            	</div>
         	</div>
		</div>
        <div class="col-lg-5">
        	
        </div>
        <div class="painter">
            <div class="col-lg-2">
        	    <input type="color" id ="colorpicker" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16">
  					    <path d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
				    </svg>
        	    </input>
        	    <button type="button" id="white" onclick="changeColor(this)" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                      <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                    </svg>
        	    </button>
        	    <button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush" viewBox="0 0 16 16">
                      <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z"/>
                    </svg>
        	    </button>
                 <input type="button" value="clear" id="clearButton" size="23">
            </div>
        </div>
	</div>
</div>         

</body>
</html>

-->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<html>
    <body>
        <canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:20%;border:2px solid;"></canvas>

        <img id="canvasimg" style="position:absolute;top:10%;left:52%;">
        <div class="painter">
            <input type="button" value="clear" id="clearButton" size="23" style="position:absolute;top:65%;left:15%;">

            <section style="position:absolute;top:10%;left:65%" class="col-lg-12 control-section">

                <div id="colorpicker-control">
                    <h4>Choose a color</h4>
                    <input id="colorpicker" type="color" onchange="changeColor(this.value)">
                </div>

                <input type="range" name="Brush size:" min="0" max="20" value="2" onchange="updateSizeInput(this.value);">
                <input size = "2" type="text" id="sizeInput" value="2"> 
                <p>Eraser:</p>
                <div style="width:15px;height:15px;background:white;border:2px solid;" name="colors" id="white" onclick="changeColor(this)"></div>

            </section>
        </div>
        <textarea style="position:absolute;top:20%;left:5%;" id="PlayersList"></textarea>
        <input style="position:absolute;top:70%;left:10%;" type="text" id="numberOfrounds" disabled />
        <input style="position:absolute;top:70%;left:20%;" type="text" id="joinGroup" value="@ViewBag.RoomId" disabled />
        <div class="guesser">
            <input style="position:absolute;top:75%;left:10%;" type="button" value="Send Guess" id="guessButton" />
            <input style="position:absolute;top:75%;left:20%;" type="text" id="guessText"/>
        </div>
        <div class="painter">
            <input style="position:absolute;top:75%;left:10%;" type="button" value="Skip" id="skipButton" />
            <input style="position:absolute;top:75%;left:20%;" type="text" id="wordToGuess" disabled="disabled"/>
        </div>

        <input style="position:absolute;top:75%;left:30%;" type="button" value="Start Game" id="startGameButton" />
        <div class="card" style="position:absolute;top:20%;left:60%;">
            <div class="card-header justify-content-between" style="border-top: 4px solid #ffa900;">
                <h5 class="mb-0">Chat messages</h5>
            </div>
            <div class="card-body" id="card-body"style="overflow-y: auto; height: 300px"></div>
            <div class="card-footer text-muted justify-content-start align-items-center p-3">
                <div class="input-group mb-0">
                    <input type="text" id="messageInput" class="form-control" placeholder="Type message" />
                    <button class="btn btn-warning" id="sendButton" type="button" style="padding-top: .55rem;">Send</button>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
div.guesser, div.painter {
    display: none;
}
</style>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/draw.js"></script>-->